h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productLable {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 5px;
}

.beackToMein {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

